<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test  name="Crerditcard">
    <classes>
      <class name="testNG.Clsone">
      <methods><include name="MobileCreditcard1"></include></methods>
      </class>
      <class name="testNG.Clstwo"/>
      </classes>
      </test>
      <test name='Debitcard'>
      <classes>
      <class name="testNG.Clsthree"/>
      <class name="testNG.Clsfour"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
